@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'GmarketSansMedium';
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./images/plant.jpg) no-repeat center;
  background-size: cover;
}

.title {
  margin-bottom: 20px;
  color: #fff;
}

.input-box {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 25px;
  margin-bottom: 10px;
}

.todo-input {
  width: 450px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.add-btn {
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 25px;
  line-height: 25px;
  cursor: pointer;
}

.add-btn>i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.todo-box {
  width: 500px;
  height: 400px;
  padding: 10px;
  border: none;
  background-color: #fff;
  border-radius: 10px;

}

.new-todo {
  display: block;
  position: relative;
  height: 25px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 25px;
}

.new-todo input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

.check-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #000;
  background-color: #fff;
}

.check {
  text-decoration: line-through;
}

.new-todo .check-mark::after {
  display: none;
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}

.new-todo input:checked~.check-mark {
  background-color: #000;
}

.new-todo input:checked~.check-mark::after {
  display: block;
}

.rm-btn::after {
  position: absolute;
  right: 5px;
  top: 0px;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  content: "\00d7";
}

.rm-btn:hover {
  color: red;
}

@media all and (max-width:500px) {
  .title {
    font-size: 2rem;
  }

  .input-box {
    width: 80%;
    margin-bottom: 20px;
  }

  .todo-input {
    width: 85%;
  }


  .todo-box {
    width: 80%;
  }
}